body{
    background-color: #EFF4F4;
}
.container{
    margin-top:30px;
}
.carousel-inner{
    margin-top:30px;
}
.dos{
    margin-left:-30px;
    height:320px;
}
.tamano{
    height:320px;
    width:100%;
}
.logreg{
    margin-left:-15px;
}
footer{
    background-color: #6697a0;
}

#carouselExampleIndicators {
    padding-top: 15px;
}

#barNavegador {
    padding-right: 10px;
}